body {}

#carteFrance {
    width: 50%;
    height: 50%;
    margin: auto;
}

#errorUser {
    color: red;
}

.hidden {
    visibility: hidden;
}

.inputerror {
    background-color: lightpink;
}


/*HEADER*/

#header {
    border: 1px solid;
}

#image {
    border: 1px solid;
    float: right;
}

#titre {
    border: 1px solid;
}


/*MENU*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.selected {
    background-color: red;
}


/*FOOTER*/

footer {
    display: block;
    background: url("img\footer.png");
}

footer p {
    text-align: center;
}