body {
}

li {
    padding-right:0.2em;
}

#carteFrance {
    width: 50%;
    height: 50%;
    margin : auto;
}

#errorUser {
    color:red;
}

.hidden {
    visibility:hidden;
}

.inputerror {
    background-color: lightpink;
}

.selected {
    color : red;
    font-size:1.5em;
}

