body {
    margin: auto;
}

#carteFrance {
    width: 50%;
    height: 50%;
    margin: auto;
    border: 1px solid;
}

#errorUser {
    color: red;
}

.hidden {
    visibility: hidden;
}

.inputerror {
    background-color: lightpink;
}


/*HEADER*/

#header {
    border: 1px solid;
    width: 100%;
    background-color: aqua;
    height: 80px;
}

#image {
    float: left;
    text-align: center;
    width: 25%;
    height: 80px;
}

#connecter {
    float: left;
    width: 25%;
    height: 80px;
    text-align: center;
}

#titre {
    width: 50%;
    float: left;
    text-align: center;
}


}
h1 {}

/*MENU*/
#menu {
    clear: both;
}

#menu ul {
    list-style: none;
    /* font-family: 'Yanone Kaffeesatz', sans-serif; */
    
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    background-color: #6b6b6b;
    height: 40px;
    margin: 0px;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    line-height: 40px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 0 20px 0 20px;
}
#menu li a:hover:not(.active) {
    background-color: #111;
}

.selected {
    background-color: red;
}

/*FOOTER*/
footer {
    display: block;
    text-align: center;
    background-color: aqua;
    border: 1px solid;
}